<header class="hero">
  <nav class="nav-elegante">
    <div class="logo-contenedor">
      <img src="assets/logomo.jpg" alt="Logo Mosa Yága" class="logo" />
      <h1 class="titulo-marca">Mosa Yága</h1>
      <p class="subtitulo-marca">Arte en madera</p>
    </div>
    <ul>
      <li><a href="#servicios">Servicios</a></li>
      <li><a href="#" onclick="location.reload()">Galería</a></li>

      <li><a href="/disenador">¡Diseña el tuyo!</a></li>
      <li><a href="/somos">¿Quienes Somos?</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
